.nav {
  display: flex;

  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;

  padding-left: 0;

  list-style-type: none;

  @include breakpoint(md) {
    flex-direction: row;
  }

  &__item {
    margin-bottom: 2rem;
    
    @include breakpoint(md) {
      margin-bottom: 0;
      margin-left: 3.125rem;
    }
  }

  &__link {
    text-transform: uppercase;
    font-weight: 700;
    color: map-get($colors, dark);
    transition: color .3s ease-in-out;

    &:hover {
      color: lighten(map-get($colors, dark), 10%);
    }

    &:focus {
      outline: none;
      color: darken(map-get($colors, dark), 20%);
    }

    &--active {
      color: map-get($colors, primary);

      &:hover {
        color: lighten(map-get($colors, primary), 15%);
      }

      &:focus {
        outline: none;
        color: darken(map-get($colors, primary), 15%);
      }
    }
  }
}